 *{ 
 list-style:none
 }
header{ 
    display: flex ; 
    align-items: center; 
    justify-content: space-between; 
    padding: 40px; 
    border-bottom: 3px solid cornflowerblue ;
} 
ul{ 
    display: flex; 
    gap: 30px;
}   
section{ 
padding: 40px;  
max-width: 400px; 
}
main{ 
    display: flex; 
    justify-content: center; 
} 
.conteudo{ 
     max-width: 400px;
}  
.texto-estudante{ 
    color: #0a2081;
} 
.botao-primario{ 
    background-color: rgb(28, 28, 185); 
    color:none ; 
    border:none; 
    border-radius: 8px;
    

} 
.botao-segundario{  
    background-color: #0a2081; 
    color: black; 
    border:1px solid
    padding: 8px;
    border-radius: 8px 
}  
.secao-numeros{ 
    background-color:rgb(7, 7, 82) 
    display: flex;
    justify-content: sppace-between;
    align-items: center; 
    border-radius: 48px; 
    margin: 40px;
} 
.conteudo-numeros{ 
    display: flex; 
    flex-direction: column;
    align-items: center; 
} 
.numero{ 
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
} 
.texto{ 
    font-size: 8px; 
    margin: 14px;
 }
 




 